$deskop:1200px;
$laptop:1024px;
$tablet:768px;
$phone:480px;

$darkBlue: rgb(32, 42, 56);
$lightBlue: rgba(147,181,227,1);




.pageStructure {
  height: 100vh;
  h2 {
    font-size: 30px;
  }
}


.banner {
  background-image: url(../images/banner_background.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  // This is the secret for an unmoving image
  background-attachment: fixed; 
  display: flex;
  border-bottom: 2px solid $darkBlue;
}

.about {
  width: 100%;
  background-color: $darkBlue;
  align-self: center;
  margin: 0px;
  margin-left: auto;
  height: 100vh;
  width: 30vw;
  display: flex;
  @media (max-width: $tablet) {
    position:absolute;
    max-width: 100%;
    height: auto;
  }
  
}

.aboutText {
  width: 100%;
  color: white;
  align-self: center;
  display:flex;
  flex-direction: column;
  h2 {
    margin: auto;
  }
  p {
    margin: 10px;
    font-size: 20px;
  }
}

.project {
  padding: 30px;
  color: $darkBlue;
  background-color: white;
  h2 {
    text-decoration: none;
    border-bottom: 1px solid $lightBlue;
    box-shadow: 1 -3px 3 $lightBlue inset;
      
  }

  .container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
  }
}

.icons {
  color:white;
  height: 30px;
  width: 30px;
}

