@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300&display=swap');

$darkBlue: rgb(32, 42, 56);




.pageStructure {
  height: 100vh;
}


.banner {
  background-image: url(../images/banner_background.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
}

.about {
  width: 100%;
  background-color: $darkBlue;
  align-self: center;
  margin: 0px;
  margin-left: auto;
  height: 100vh;
  width: 30vw;
  display: flex;
  
}

.aboutText {
  width: 100%;
  color: white;
  align-self: center;
  display:flex;
  flex-direction: column;
  h2 {
    margin: auto;
  }
  p {
    margin: 10px;
    font-size: 20px;
  }
}