$darkBlue: rgb(32, 42, 56);
$lightBlue: rgba(147,181,227,1);



.card {
    text-decoration: none;
    color: $darkBlue;
    margin: 40px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 290px;
    border-radius: 25px;
    background-color: white;
    border-style: solid;
    border-color: $darkBlue;
    box-shadow: 10px 10px 2px $darkBlue;
    grid-template-areas: "image" "text";


    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
    .cardImage {
        grid-area: "image";
        border-top-left-radius: 21px;
        border-top-right-radius: 21px;
        object-fit: cover;
    } 
    .cardText {
        display: flex;
        flex-direction: column;
        align-items: center;


        h3 {
            font-size: 25px;
            text-decoration: none;
            // text-decoration: underline;
        }
        p {
            font-size: 16px;
            margin:5px;
        }
    }
}

.card:hover {
    transform: scale(1.15);
}